<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<meta charset="UTF-8">
<title>Spring boot Library</title>
</head>
<body>

<div class="w3-container w3-sand">
	<h1>Tabla de Libros desde @controller, @service, @Repository and Postgres</h1>



<table>
	<tr>
		<td>BookId</td>
		<td>Title</td>
		<td>ISBN</td>
	</tr>
	<tr th:each="book:${books}">
		<td th:text="${book.bookId}"></td>
		<td th:text="${book.title}"></td>
		<td th:text="${book.isbn}"></td>
		
	</tr>
	

</table>
</div>
</body>
</html>